@{
  Layout = "_Layout";
}
@model JustRelax.Models.Player

<h3 id='createCharacterContinue' class="continue">[ Click here to create your character ]</h3>

@using (Html.BeginForm(new {id="characterCreation"}))
{
  <p id="characterLine1">Please type your name:
    <br>
    @Html.TextBoxFor(model => model.Name, new{@class="form-control textBoxInput", @required="required"})
  </p>

  <h3 id="pressEnter3">[ click the continue button to view the next line ]</h3>

  <p id="characterLine2">Please enter your pronouns:
    <br>
    @Html.TextBoxFor(model => model.Pronouns, "none", new {@class="form-control textBoxInput", @required="required"})
  </p>

  <p id="characterLine3">Where are you from:
    <br>
    @Html.TextBoxFor(model => model.Hometown, "nowhere", new{@class="form-control textBoxInput", @required="required"})
  </p>

  <p id="characterLine4">What did you do before Codis Sonmum:
    <br>
    @Html.TextBoxFor(model => model.BeforeLife, "nothing", new{@class="form-control textBoxInput", @required="required"})
  </p>

  <p id="characterLine5">What are your hobbies?:
    <br>
    @Html.TextBoxFor(model => model.Hobbies, "no hobbies", new{@class="form-control textBoxInput", @required="required"})
  </p>

  <br>

  <input type="submit" id="characterContinue" class="continue" value="[ Create Your Character ]">
}